@model TodoItem

<form asp-action="AddItem" class="form-group" method="post">
    <label asp-for="Title">Add a new item:</label>
    <input asp-for="Title" />
    <button class="btn btn-primary" type="submit">Add</button>
</form>
